ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 40px;
}
ul li {
    position: relative;
    overflow: hidden;
}
ul li img {
    width: 100%;
    border: #000 solid 7px;
    transition: transform .2s ease-in-out;
}
ul li:hover img{
    transform: scale(1.2);
}